aiobotocore
aiohttp
aioitertools
aiosignal
altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
babel
backcall
beautifulsoup4
biopython
bleach
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
comm
configparser
contourpy
cycler
debugpy
decorator
defusedxml
deprecation
et-xmlfile
executing
fastjsonschema
fonttools
fqdn
frozenlist
fsspec
git-remote-codecommit
gitdb
gitpython
greenlet
idna
importlib-metadata
iniconfig
ipykernel
ipyspeck
ipython
ipython-genutils
ipywidgets
isoduration
jedi
jinja2
jmespath
json5
jsonlines
jsonpointer
jsonschema
jupyter-client
jupyter-core
jupyter-events
jupyter-lsp
jupyter-packaging
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mistune
multidict
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numpy
openpyxl
overrides
packaging
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
pillow
platformdirs
plotly
pluggy
prettytable
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pure-eval
py3dmol
pyarrow
pybigwig
pycparser
pydeck
pyecharts
pyfaidx
pygments
pympler
pyparsing
pyrsistent
pytest
python-dateutil
python-decouple
python-json-logger
pytz
pytz-deprecation-shim
pyyaml
pyzmq
requests
rfc3339-validator
rfc3986-validator
rich
s3fs
s3transfer
scipy
seaborn
seaborn-altair
send2trash
simplejson
six
smart-open
smmap
sniffio
soupsieve
sqlalchemy
stack-data
statsmodels
stmol
streamlit
streamlit-aggrid
streamlit-echarts
streamlit-plotly-events
streamlit-scrollable-textbox
tenacity
terminado
tinycss2
toml
tomlkit
toolz
tornado
tqdm
traitlets
typing-extensions
tzdata
tzlocal
uri-template
urllib3
validators
watchdog
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
wrapt
yarl
zipp
scanpy
pydeseq2
pybiolib
